%section.page-header
  .container
    .row
      .col-md-12
        %h1 The Team
        %p Take a look at the 3 wonderful minds behind Gently.
%section#our_mission
  .container
    .row
      .col-md-10
        .section-header
          %h2 How it all started...
          %p Just your everyday run of the mill developers & designers who stumbled upon each other through various communities around the world wide web!
    .row
      .col-md-6
        %img.img-responsive{:src => 'http://placehold.it/585x400'}
      .col-md-6
        %h3 Our Mission
        %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        %quoteblock
          "Alone we can do so little, but together we can do so much."
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
%section.banner
  .container
    .row
      .col-md-12.text-center
        %h2 Not enough for you? Feel free to contact us!
        %a.btn.btn-teal{:href => '#'} Let's Talk
%section
  .container
    .row
      .col-md-12
        .section-header.text-center
          %h2 Let's meet the team!
          %p Take a look at each and everyone of the wonderful members of our team!
    .row
      .col-md-4
        .author
          .thumbnail
            %img.img-responsive{:src => 'http://i1.wp.com/gently.io/wordpress/wp-content/uploads/2015/03/andy.jpg?fit=512%2C512'}
          %h3.author-name Andy Tran
          %p.author-title Developer
          %p.author-description I'm Andy, a front-end website and wordpress developer based in San Jose, CA. Throughout the years, I have developed a passion in website development. A majority of my time is spent on CodePen in which I create random pens.
          %ul.social-links
            %li
              %a{:href => '#'}
                %i.fa.fa-chain
            %li
              %a{:href => '#'}
                %i.fa.fa-facebook
            %li
              %a{:href => '#'}
                %i.fa.fa-twitter
            %li
              %a{:href => '#'}
                %i.fa.fa-google-plus
      .col-md-4
        .author
          .thumbnail
            %img.img-responsive{:src => 'http://i2.wp.com/gently.io/wordpress/wp-content/uploads/2015/03/andrew.png?fit=512%2C512'}
          %h3.author-name Andrew Shen
          %p.author-title Designer
          %p.author-description I’m Andrew, an interface and product designer in Palo Alto, CA. I work at DoorDash, where we're building the future of local, on-demand logistics. I’m currently not looking for new opportunities, but feel free to drop me an email or give me a shout on twitter.
          %ul.social-links
            %li
              %a{:href => '#'}
                %i.fa.fa-chain
            %li
              %a{:href => '#'}
                %i.fa.fa-facebook
            %li
              %a{:href => '#'}
                %i.fa.fa-twitter
            %li
              %a{:href => '#'}
                %i.fa.fa-google-plus
      .col-md-4
        .author
          .thumbnail
            %img.img-responsive{:src => 'http://gently.io/wordpress/wp-content/uploads/2015/05/pic-e1432198637649.jpg'}
          %h3.author-name Justin Kwak
          %p.author-title Designer
          %p.author-description I'm Justin, an 18 year old UI/UX Designer with strong emphasis on building web and mobile applications. Dallas Mavericks and Cowboys fanatic, avid disc golf enthusiast, and mild coffee addict.
          %ul.social-links
            %li
              %a{:href => '#'}
                %i.fa.fa-chain
            %li
              %a{:href => '#'}
                %i.fa.fa-facebook
            %li
              %a{:href => '#'}
                %i.fa.fa-twitter
            %li
              %a{:href => '#'}
                %i.fa.fa-google-plus