%footer.footer
  .container
    .row
      .col-md-12
        .footer-text
          %h2 Got a question for us?
          %p Don't worry, we don't bite! So... What are you waiting for?
          %a.btn.footer-btn{:href => '#'}
            %i.fa.fa-comments
            Let's Chat
  .footer-bottom
    %p.copyright
      Proudly powered by <a href='http://wordpress.org'>WordPress</a> &middot; Copyright &copy; 2015 <a href='#'>Gently.io</a> &middot; All Rights Reserved