%section#featured
  .container
    .row
      .col-md-12
        .section-header
          %h2 This is what we do and we <i class='fa fa-heart'></i> it.
    .row
      .col-md-12
        .featured-project
          .row
            .col-md-7.col-md-push-5
              .featured-project-thumbnail
                .macbook
                  .screen
                    %img{:src => 'http://i0.wp.com/gently.io/wordpress/wp-content/uploads/2015/03/screencapture-justinkwak-com-maverick-index-php.png?fit=1024%2C1024', :alt => 'Mavericks Landing Page'}
            .col-md-5.col-md-pull-7
              %h3.project-title Mavericks - App &amp; Software Landing Page
              .project-meta
                %a{:href => '#'} Website Design
                &amp;
                %a{:href => '#'} Website Template
              .project-description Maverick is a landing page perfect for applications, softwares, and products! But don’t fret, this template is perfect for any businesses or even portfolios. Maverick incorporates a flat design with stunning and bright colors to attract your custom...
              %a.btn.project-btn{:href => '#'} View Project
    .row
      .col-md-12
        .featured-project
          .row
            .col-md-7
              .featured-project-thumbnail
                .browser
                  .screen
                    %img{:src => 'http://i2.wp.com/gently.io/wordpress/wp-content/uploads/2015/03/screencapture-s-codepen-io-boomerang-de05970792c010be065f872f01b5aafb1426213012961-index-html.png?fit=1024%2C1024', :alt => 'Blink.'}
            .col-md-5
              %h3.project-title Blink.
              .project-meta
                %a{:href => '#'} Website Design
                ,
                %a{:href => '#'} Website Template
                &amp;
                %a{:href => '#'} WordPress Theme
              .project-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure d...
              %a.btn.project-btn{:href => '#'} View Project
    .row
      .col-md-12
        .featured-project
          .row
            .col-md-7.col-md-push-5
              .featured-project-thumbnail
                .macbook
                  .screen
                    %img{:src => 'http://i0.wp.com/gently.io/wordpress/wp-content/uploads/2015/03/screencapture-justinkwak-com-maverick-index-php.png?fit=1024%2C1024', :alt => 'Mavericks Landing Page'}
            .col-md-5.col-md-pull-7
              %h3.project-title Mavericks - App &amp; Software Landing Page
              .project-meta
                %a{:href => '#'} Website Design
                &amp;
                %a{:href => '#'} Website Template
              .project-description Maverick is a landing page perfect for applications, softwares, and products! But don’t fret, this template is perfect for any businesses or even portfolios. Maverick incorporates a flat design with stunning and bright colors to attract your custom...
              %a.btn.project-btn{:href => '#'} View Project