@import 'mixins.less';
@import 'variables.less';
@import 'header.less';

body {
	background: @white;
	font-family: 'proxima-nova', sans-serif;
	.font-smoothing;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8em;
}