body {
	background: @white;
	font-family: 'Proxima Nova', sans-serif;
	.font-smoothing;
	color: @light_gray;
	font-size: 14px;
	font-weight: @regular;
	line-height: 1.8em;
}

/* Heading */
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px;
	color: @gray;
	font-family: 'Varela Round', sans-serif;
	font-weight: @regular;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}
/* END Heading */

/* Button */
.btn {
	.border-radius;
	padding: 16px 25px;
	font-size: 14px;
	font-weight: @bold;
	line-height: 1.2em;
	text-transform: uppercase;
	&.btn-red {
		background: @red;
		.box-shadow(@v-shadow: 4px; @blur: 0; @color: darken(@red, 15%););
		color: @white;
	}
	&.btn-teal {
		background: @teal;
		.box-shadow(@v-shadow: 4px; @blur: 0; @color: darken(@teal, 10%););
		color: @white;
	}
}
/* END Button */

/* Form Group */
.form-group {
	.form-control {
	}
}
/* END Form Group */

/* Code */
code {
	background: fade(#414046, 4%);
}
/* END Code */

/* Pre */
pre {
	background: fade(#414046, 4%);
	border: 1px solid fade(@black, 5%);
}
/* END Pre */

/* Quoteblock */
quoteblock {
	display: block;
	margin: 30px 0 30px 30px;
	border-left: 2px solid #cbff8d;
	padding: 15px 30px;
	color: @gray;
	font-size: 18px;
	font-family: 'Varela Round', sans-serif;
	.author {
		display: block;
		margin: 10px 0 0;
		font-size: 14px;
		font-style: italic;
		&:before {
			content: '- '
		}
	}
}
/* END Quoteblock */