%section.hero
	.container
		.row
			.col-md-12.text-center
				%h1 Two heads are better than one.
				%p We are a 3 unique individuals who together form a kick ass web development team!
				.btn-group
					%a.btn.btn-hero{:href => '#'}
					%a See our case studies