%section.page-header
	.container
		.row
			.col-md-12
				%h1 The Team
				%p Take a look at the 3 wonderful minds behind Gently.
%section.page-header
	.container
		.row
			.col-md-12
				%h1 Blog
				%p Get the latest updates and news on what's going on!
%section.page-header
	.container
		.row
			.col-md-12
				%h1 Let's Talk
				%p Got a question? Don't be afraid to ask us!